name: release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build:
    uses: r7kamura/workflows/.github/workflows/release-action.yml@188a151bcd356344550773f723742a3fccbc6ef9 # v0.8.0
